スクリプト

In [ ]:
#スクリプト

#python make_mut_document.py CosmicNCV.tsv hg38.fa

import pandas as pd
from Bio import SeqIO
import re
import sys

mut_file=sys.argv[1]
ref_fasta=sys.argv[2]

df_cosmic=pd.read_table(mut_file)
df_cut=df_cosmic[['ID_SAMPLE', 'ID_tumour','genome position','WT_SEQ', 'MUT_SEQ']]


#レファレンスファイルについて
list_id=[]
list_desc=[]
list_seq=[]

#biopythonを用いて、idやdesc、seqを抽出
for record in SeqIO.parse(ref_fasta, 'fasta'):
    id_part = record.id
    desc_part = record.description
    seq = record.seq

    list_id.append(id_part)
    list_desc.append(desc_part)
    list_seq.append(seq)

#mutについて、genome positiionから、chrとsingle positionに分ける
list_cut_chr=[]
list_cut_pos=[]
for i in range(len(df_cut)):
    list_cut_chr.append((re.split('[:-]',df_cut['genome position'][i]))[0])
    list_cut_pos.append((re.split('[:-]',df_cut['genome position'][i]))[1])
df_cut['chr']=pd.Series(list_cut_chr)
df_cut['single position']=pd.Series(list_cut_pos)

#mutのdfからchr23、24、MUT_SEQのnanを除く

df_cut_chr=df_cut[(df_cut['chr'] != '23') & (df_cut['chr'] != '24') & (df_cut['chr'] != '25')]
df_cut_chr.dropna(subset=['MUT_SEQ'],inplace=True)

#indexを振り直す
df_cut_chr_i=df_cut_chr.reset_index()

#使わないdfを削除
del df_cut_chr,df_cut

#refから変異位置の前後の配列を抽出
seq_before=[]
seq_after=[]
for i in range(len(df_cut_chr_i)):
    seq_before.append(list_seq[list_id.index('chr'+df_cut_chr_i['chr'][i])][int(df_cut_chr_i['single position'][i])-2])
    seq_after.append(list_seq[list_id.index('chr'+df_cut_chr_i['chr'][i])][int(df_cut_chr_i['single position'][i])])

df_cut_chr_i['seq_before']=pd.Series(seq_before)
df_cut_chr_i['seq_after']=pd.Series(seq_after)
    
#大文字に変更
df_cut_chr_i['seq_before']=df_cut_chr_i['seq_before'].str.upper()
df_cut_chr_i['seq_after']=df_cut_chr_i['seq_after'].str.upper()

#3文字の配列にする（seq_forwardが鋳型）
df_cut_chr_i['seq_forward']=df_cut_chr_i['seq_before']+df_cut_chr_i['MUT_SEQ']+df_cut_chr_i['seq_after']
df_cut_chr_i['seq_forward_r']=df_cut_chr_i['seq_after']+df_cut_chr_i['MUT_SEQ']+df_cut_chr_i['seq_before']

#辞書型で相補鎖に変換
dict_base={"A":"T","G":"C","C":"G","T":"A"}

list_seq_reverse=[]
list_wt_seq_reverse=[]
for i in range(len(df_cut_chr_i)):
    list_seq_reverse.append((df_cut_chr_i['seq_forward_r'][i]).translate(str.maketrans(dict_base)))
    list_wt_seq_reverse.append((str(df_cut_chr_i['WT_SEQ'][i])).translate(str.maketrans(dict_base)))
df_cut_chr_i['seq_reverse']=pd.Series(list_seq_reverse)
df_cut_chr_i['WT_seq_reverse']=pd.Series(list_wt_seq_reverse)

#ID_tumorのカウント
dict_tumor_id=df_cut_chr_i['ID_tumour'].value_counts().to_dict()

#以下、ID_tumorごとに取り出し変異をテキストに書き込む
df_index_for_id=pd.DataFrame()
for i in list_tumor_id:
    df_index_for_id['index_{}'.format(i)]=pd.Series((df_cut_chr_i[df_cut_chr_i['ID_tumour']==i]).index)
    for j in df_index_for_id['index_{}'.format(i)]:
        if pd.isnull(j)==True:
            continue
        else:
            with open("text/{}.txt".format(i), "a") as f:
                if (df_cut_chr_i.iloc[int(j)])['WT_SEQ']=='C'or (df_cut_chr_i.iloc[int(j)])['WT_SEQ']=='G':
                    f.write((df_cut_chr_i.iloc[int(j)])['WT_SEQ']+'>'+(df_cut_chr_i.iloc[int(j)])['MUT_SEQ']+\
                    '_'+(df_cut_chr_i.iloc[int(j)])['seq_forward'][0:1]+\
                    (df_cut_chr_i.iloc[int(j)])['seq_forward'][2:3]+' ')
                else:
                    f.write((df_cut_chr_i.iloc[int(j)])['WT_seq_reverse']+'>'+(df_cut_chr_i.iloc[int(j)])['seq_reverse'][1:2]+\
                    '_'+(df_cut_chr_i.iloc[int(j)])['seq_reverse'][0:1]+\
                    (df_cut_chr_i.iloc[int(j)])['seq_reverse'][2:3]+' ')

In [1]:
import pandas as pd
from Bio import SeqIO
import re
import sys

In [2]:
mut_file='CosmicNCV.tsv'
ref_fasta='hg38.fa'

df_cosmic=pd.read_table(mut_file)
df_cut=df_cosmic[['ID_SAMPLE', 'ID_tumour','genome position','WT_SEQ', 'MUT_SEQ']]

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  after removing the cwd from sys.path.

In [3]:
df_cut.head()

   ID_SAMPLE  ID_tumour         genome position WT_SEQ MUT_SEQ
0    2634366    2494762   3:191870081-191870081      A       G
1    2634366    2494762   4:175610288-175610288      G       T
2    2634602    2494998  10:113312456-113312456      G       T
3    2634732    2495128     7:49183066-49183066      A       T
4    2634732    2495128    20:13631885-13631885      G       A

In [4]:
#リファレンスファイルについて
list_id=[]
list_desc=[]
list_seq=[]

#biopythonを用いて、idやdesc、seqを抽出
for record in SeqIO.parse(ref_fasta, 'fasta'):
    id_part = record.id
    desc_part = record.description
    seq = record.seq

    list_id.append(id_part)
    list_desc.append(desc_part)
    list_seq.append(seq)

In [5]:
len(list_id)

455

In [6]:
list_id

['chr1',
 'chr10',
 'chr11',
 'chr11_KI270721v1_random',
 'chr12',
 'chr13',
 'chr14',
 'chr14_GL000009v2_random',
 'chr14_GL000225v1_random',
 'chr14_KI270722v1_random',
 'chr14_GL000194v1_random',
 'chr14_KI270723v1_random',
 'chr14_KI270724v1_random',
 'chr14_KI270725v1_random',
 'chr14_KI270726v1_random',
 'chr15',
 'chr15_KI270727v1_random',
 'chr16',
 'chr16_KI270728v1_random',
 'chr17',
 'chr17_GL000205v2_random',
 'chr17_KI270729v1_random',
 'chr17_KI270730v1_random',
 'chr18',
 'chr19',
 'chr1_KI270706v1_random',
 'chr1_KI270707v1_random',
 'chr1_KI270708v1_random',
 'chr1_KI270709v1_random',
 'chr1_KI270710v1_random',
 'chr1_KI270711v1_random',
 'chr1_KI270712v1_random',
 'chr1_KI270713v1_random',
 'chr1_KI270714v1_random',
 'chr2',
 'chr20',
 'chr21',
 'chr22',
 'chr22_KI270731v1_random',
 'chr22_KI270732v1_random',
 'chr22_KI270733v1_random',
 'chr22_KI270734v1_random',
 'chr22_KI270735v1_random',
 'chr22_KI270736v1_random',
 'chr22_KI270737v1_random',
 'chr22_KI270738v1_random',
 'chr22_KI270739v1_random',
 'chr2_KI270715v1_random',
 'chr2_KI270716v1_random',
 'chr3',
 'chr3_GL000221v1_random',
 'chr4',
 'chr4_GL000008v2_random',
 'chr5',
 'chr5_GL000208v1_random',
 'chr6',
 'chr7',
 'chr8',
 'chr9',
 'chr9_KI270717v1_random',
 'chr9_KI270718v1_random',
 'chr9_KI270719v1_random',
 'chr9_KI270720v1_random',
 'chr1_KI270762v1_alt',
 'chr1_KI270766v1_alt',
 'chr1_KI270760v1_alt',
 'chr1_KI270765v1_alt',
 'chr1_GL383518v1_alt',
 'chr1_GL383519v1_alt',
 'chr1_GL383520v2_alt',
 'chr1_KI270764v1_alt',
 'chr1_KI270763v1_alt',
 'chr1_KI270759v1_alt',
 'chr1_KI270761v1_alt',
 'chr2_KI270770v1_alt',
 'chr2_KI270773v1_alt',
 'chr2_KI270774v1_alt',
 'chr2_KI270769v1_alt',
 'chr2_GL383521v1_alt',
 'chr2_KI270772v1_alt',
 'chr2_KI270775v1_alt',
 'chr2_KI270771v1_alt',
 'chr2_KI270768v1_alt',
 'chr2_GL582966v2_alt',
 'chr2_GL383522v1_alt',
 'chr2_KI270776v1_alt',
 'chr2_KI270767v1_alt',
 'chr3_JH636055v2_alt',
 'chr3_KI270783v1_alt',
 'chr3_KI270780v1_alt',
 'chr3_GL383526v1_alt',
 'chr3_KI270777v1_alt',
 'chr3_KI270778v1_alt',
 'chr3_KI270781v1_alt',
 'chr3_KI270779v1_alt',
 'chr3_KI270782v1_alt',
 'chr3_KI270784v1_alt',
 'chr4_KI270790v1_alt',
 'chr4_GL383528v1_alt',
 'chr4_KI270787v1_alt',
 'chr4_GL000257v2_alt',
 'chr4_KI270788v1_alt',
 'chr4_GL383527v1_alt',
 'chr4_KI270785v1_alt',
 'chr4_KI270789v1_alt',
 'chr4_KI270786v1_alt',
 'chr5_KI270793v1_alt',
 'chr5_KI270792v1_alt',
 'chr5_KI270791v1_alt',
 'chr5_GL383532v1_alt',
 'chr5_GL949742v1_alt',
 'chr5_KI270794v1_alt',
 'chr5_GL339449v2_alt',
 'chr5_GL383530v1_alt',
 'chr5_KI270796v1_alt',
 'chr5_GL383531v1_alt',
 'chr5_KI270795v1_alt',
 'chr6_GL000250v2_alt',
 'chr6_KI270800v1_alt',
 'chr6_KI270799v1_alt',
 'chr6_GL383533v1_alt',
 'chr6_KI270801v1_alt',
 'chr6_KI270802v1_alt',
 'chr6_KB021644v2_alt',
 'chr6_KI270797v1_alt',
 'chr6_KI270798v1_alt',
 'chr7_KI270804v1_alt',
 'chr7_KI270809v1_alt',
 'chr7_KI270806v1_alt',
 'chr7_GL383534v2_alt',
 'chr7_KI270803v1_alt',
 'chr7_KI270808v1_alt',
 'chr7_KI270807v1_alt',
 'chr7_KI270805v1_alt',
 'chr8_KI270818v1_alt',
 'chr8_KI270812v1_alt',
 'chr8_KI270811v1_alt',
 'chr8_KI270821v1_alt',
 'chr8_KI270813v1_alt',
 'chr8_KI270822v1_alt',
 'chr8_KI270814v1_alt',
 'chr8_KI270810v1_alt',
 'chr8_KI270819v1_alt',
 'chr8_KI270820v1_alt',
 'chr8_KI270817v1_alt',
 'chr8_KI270816v1_alt',
 'chr8_KI270815v1_alt',
 'chr9_GL383539v1_alt',
 'chr9_GL383540v1_alt',
 'chr9_GL383541v1_alt',
 'chr9_GL383542v1_alt',
 'chr9_KI270823v1_alt',
 'chr10_GL383545v1_alt',
 'chr10_KI270824v1_alt',
 'chr10_GL383546v1_alt',
 'chr10_KI270825v1_alt',
 'chr11_KI270832v1_alt',
 'chr11_KI270830v1_alt',
 'chr11_KI270831v1_alt',
 'chr11_KI270829v1_alt',
 'chr11_GL383547v1_alt',
 'chr11_JH159136v1_alt',
 'chr11_JH159137v1_alt',
 'chr11_KI270827v1_alt',
 'chr11_KI270826v1_alt',
 'chr12_GL877875v1_alt',
 'chr12_GL877876v1_alt',
 'chr12_KI270837v1_alt',
 'chr12_GL383549v1_alt',
 'chr12_KI270835v1_alt',
 'chr12_GL383550v2_alt',
 'chr12_GL383552v1_alt',
 'chr12_GL383553v2_alt',
 'chr12_KI270834v1_alt',
 'chr12_GL383551v1_alt',
 'chr12_KI270833v1_alt',
 'chr12_KI270836v1_alt',
 'chr13_KI270840v1_alt',
 'chr13_KI270839v1_alt',
 'chr13_KI270843v1_alt',
 'chr13_KI270841v1_alt',
 'chr13_KI270838v1_alt',
 'chr13_KI270842v1_alt',
 'chr14_KI270844v1_alt',
 'chr14_KI270847v1_alt',
 'chr14_KI270845v1_alt',
 'chr14_KI270846v1_alt',
 'chr15_KI270852v1_alt',
 'chr15_KI270851v1_alt',
 'chr15_KI270848v1_alt',
 'chr15_GL383554v1_alt',
 'chr15_KI270849v1_alt',
 'chr15_GL383555v2_alt',
 'chr15_KI270850v1_alt',
 'chr16_KI270854v1_alt',
 'chr16_KI270856v1_alt',
 'chr16_KI270855v1_alt',
 'chr16_KI270853v1_alt',
 'chr16_GL383556v1_alt',
 'chr16_GL383557v1_alt',
 'chr17_GL383563v3_alt',
 'chr17_KI270862v1_alt',
 'chr17_KI270861v1_alt',
 'chr17_KI270857v1_alt',
 'chr17_JH159146v1_alt',
 'chr17_JH159147v1_alt',
 'chr17_GL383564v2_alt',
 'chr17_GL000258v2_alt',
 'chr17_GL383565v1_alt',
 'chr17_KI270858v1_alt',
 'chr17_KI270859v1_alt',
 'chr17_GL383566v1_alt',
 'chr17_KI270860v1_alt',
 'chr18_KI270864v1_alt',
 'chr18_GL383567v1_alt',
 'chr18_GL383570v1_alt',
 'chr18_GL383571v1_alt',
 'chr18_GL383568v1_alt',
 'chr18_GL383569v1_alt',
 'chr18_GL383572v1_alt',
 'chr18_KI270863v1_alt',
 'chr19_KI270868v1_alt',
 'chr19_KI270865v1_alt',
 'chr19_GL383573v1_alt',
 'chr19_GL383575v2_alt',
 'chr19_GL383576v1_alt',
 'chr19_GL383574v1_alt',
 'chr19_KI270866v1_alt',
 'chr19_KI270867v1_alt',
 'chr19_GL949746v1_alt',
 'chr20_GL383577v2_alt',
 'chr20_KI270869v1_alt',
 'chr20_KI270871v1_alt',
 'chr20_KI270870v1_alt',
 'chr21_GL383578v2_alt',
 'chr21_KI270874v1_alt',
 'chr21_KI270873v1_alt',
 'chr21_GL383579v2_alt',
 'chr21_GL383580v2_alt',
 'chr21_GL383581v2_alt',
 'chr21_KI270872v1_alt',
 'chr22_KI270875v1_alt',
 'chr22_KI270878v1_alt',
 'chr22_KI270879v1_alt',
 'chr22_KI270876v1_alt',
 'chr22_KI270877v1_alt',
 'chr22_GL383583v2_alt',
 'chr22_GL383582v2_alt',
 'chrX_KI270880v1_alt',
 'chrX_KI270881v1_alt',
 'chr19_KI270882v1_alt',
 'chr19_KI270883v1_alt',
 'chr19_KI270884v1_alt',
 'chr19_KI270885v1_alt',
 'chr19_KI270886v1_alt',
 'chr19_KI270887v1_alt',
 'chr19_KI270888v1_alt',
 'chr19_KI270889v1_alt',
 'chr19_KI270890v1_alt',
 'chr19_KI270891v1_alt',
 'chr1_KI270892v1_alt',
 'chr2_KI270894v1_alt',
 'chr2_KI270893v1_alt',
 'chr3_KI270895v1_alt',
 'chr4_KI270896v1_alt',
 'chr5_KI270897v1_alt',
 'chr5_KI270898v1_alt',
 'chr6_GL000251v2_alt',
 'chr7_KI270899v1_alt',
 'chr8_KI270901v1_alt',
 'chr8_KI270900v1_alt',
 'chr11_KI270902v1_alt',
 'chr11_KI270903v1_alt',
 'chr12_KI270904v1_alt',
 'chr15_KI270906v1_alt',
 'chr15_KI270905v1_alt',
 'chr17_KI270907v1_alt',
 'chr17_KI270910v1_alt',
 'chr17_KI270909v1_alt',
 'chr17_JH159148v1_alt',
 'chr17_KI270908v1_alt',
 'chr18_KI270912v1_alt',
 'chr18_KI270911v1_alt',
 'chr19_GL949747v2_alt',
 'chr22_KB663609v1_alt',
 'chrX_KI270913v1_alt',
 'chr19_KI270914v1_alt',
 'chr19_KI270915v1_alt',
 'chr19_KI270916v1_alt',
 'chr19_KI270917v1_alt',
 'chr19_KI270918v1_alt',
 'chr19_KI270919v1_alt',
 'chr19_KI270920v1_alt',
 'chr19_KI270921v1_alt',
 'chr19_KI270922v1_alt',
 'chr19_KI270923v1_alt',
 'chr3_KI270924v1_alt',
 'chr4_KI270925v1_alt',
 'chr6_GL000252v2_alt',
 'chr8_KI270926v1_alt',
 'chr11_KI270927v1_alt',
 'chr19_GL949748v2_alt',
 'chr22_KI270928v1_alt',
 'chr19_KI270929v1_alt',
 'chr19_KI270930v1_alt',
 'chr19_KI270931v1_alt',
 'chr19_KI270932v1_alt',
 'chr19_KI270933v1_alt',
 'chr19_GL000209v2_alt',
 'chr3_KI270934v1_alt',
 'chr6_GL000253v2_alt',
 'chr19_GL949749v2_alt',
 'chr3_KI270935v1_alt',
 'chr6_GL000254v2_alt',
 'chr19_GL949750v2_alt',
 'chr3_KI270936v1_alt',
 'chr6_GL000255v2_alt',
 'chr19_GL949751v2_alt',
 'chr3_KI270937v1_alt',
 'chr6_GL000256v2_alt',
 'chr19_GL949752v1_alt',
 'chr6_KI270758v1_alt',
 'chr19_GL949753v2_alt',
 'chr19_KI270938v1_alt',
 'chrM',
 'chrUn_KI270302v1',
 'chrUn_KI270304v1',
 'chrUn_KI270303v1',
 'chrUn_KI270305v1',
 'chrUn_KI270322v1',
 'chrUn_KI270320v1',
 'chrUn_KI270310v1',
 'chrUn_KI270316v1',
 'chrUn_KI270315v1',
 'chrUn_KI270312v1',
 'chrUn_KI270311v1',
 'chrUn_KI270317v1',
 'chrUn_KI270412v1',
 'chrUn_KI270411v1',
 'chrUn_KI270414v1',
 'chrUn_KI270419v1',
 'chrUn_KI270418v1',
 'chrUn_KI270420v1',
 'chrUn_KI270424v1',
 'chrUn_KI270417v1',
 'chrUn_KI270422v1',
 'chrUn_KI270423v1',
 'chrUn_KI270425v1',
 'chrUn_KI270429v1',
 'chrUn_KI270442v1',
 'chrUn_KI270466v1',
 'chrUn_KI270465v1',
 'chrUn_KI270467v1',
 'chrUn_KI270435v1',
 'chrUn_KI270438v1',
 'chrUn_KI270468v1',
 'chrUn_KI270510v1',
 'chrUn_KI270509v1',
 'chrUn_KI270518v1',
 'chrUn_KI270508v1',
 'chrUn_KI270516v1',
 'chrUn_KI270512v1',
 'chrUn_KI270519v1',
 'chrUn_KI270522v1',
 'chrUn_KI270511v1',
 'chrUn_KI270515v1',
 'chrUn_KI270507v1',
 'chrUn_KI270517v1',
 'chrUn_KI270529v1',
 'chrUn_KI270528v1',
 'chrUn_KI270530v1',
 'chrUn_KI270539v1',
 'chrUn_KI270538v1',
 'chrUn_KI270544v1',
 'chrUn_KI270548v1',
 'chrUn_KI270583v1',
 'chrUn_KI270587v1',
 'chrUn_KI270580v1',
 'chrUn_KI270581v1',
 'chrUn_KI270579v1',
 'chrUn_KI270589v1',
 'chrUn_KI270590v1',
 'chrUn_KI270584v1',
 'chrUn_KI270582v1',
 'chrUn_KI270588v1',
 'chrUn_KI270593v1',
 'chrUn_KI270591v1',
 'chrUn_KI270330v1',
 'chrUn_KI270329v1',
 'chrUn_KI270334v1',
 'chrUn_KI270333v1',
 'chrUn_KI270335v1',
 'chrUn_KI270338v1',
 'chrUn_KI270340v1',
 'chrUn_KI270336v1',
 'chrUn_KI270337v1',
 'chrUn_KI270363v1',
 'chrUn_KI270364v1',
 'chrUn_KI270362v1',
 'chrUn_KI270366v1',
 'chrUn_KI270378v1',
 'chrUn_KI270379v1',
 'chrUn_KI270389v1',
 'chrUn_KI270390v1',
 'chrUn_KI270387v1',
 'chrUn_KI270395v1',
 'chrUn_KI270396v1',
 'chrUn_KI270388v1',
 'chrUn_KI270394v1',
 'chrUn_KI270386v1',
 'chrUn_KI270391v1',
 'chrUn_KI270383v1',
 'chrUn_KI270393v1',
 'chrUn_KI270384v1',
 'chrUn_KI270392v1',
 'chrUn_KI270381v1',
 'chrUn_KI270385v1',
 'chrUn_KI270382v1',
 'chrUn_KI270376v1',
 'chrUn_KI270374v1',
 'chrUn_KI270372v1',
 'chrUn_KI270373v1',
 'chrUn_KI270375v1',
 'chrUn_KI270371v1',
 'chrUn_KI270448v1',
 'chrUn_KI270521v1',
 'chrUn_GL000195v1',
 'chrUn_GL000219v1',
 'chrUn_GL000220v1',
 'chrUn_GL000224v1',
 'chrUn_KI270741v1',
 'chrUn_GL000226v1',
 'chrUn_GL000213v1',
 'chrUn_KI270743v1',
 'chrUn_KI270744v1',
 'chrUn_KI270745v1',
 'chrUn_KI270746v1',
 'chrUn_KI270747v1',
 'chrUn_KI270748v1',
 'chrUn_KI270749v1',
 'chrUn_KI270750v1',
 'chrUn_KI270751v1',
 'chrUn_KI270752v1',
 'chrUn_KI270753v1',
 'chrUn_KI270754v1',
 'chrUn_KI270755v1',
 'chrUn_KI270756v1',
 'chrUn_KI270757v1',
 'chrUn_GL000214v1',
 'chrUn_KI270742v1',
 'chrUn_GL000216v2',
 'chrUn_GL000218v1',
 'chrX',
 'chrY',
 'chrY_KI270740v1_random']

In [7]:
#mutについて、genome positiionから、chrとsingle positionに分ける
list_cut_chr=[]
list_cut_pos=[]
for i in range(len(df_cut)):
    list_cut_chr.append((re.split('[:-]',df_cut['genome position'][i]))[0])
    list_cut_pos.append((re.split('[:-]',df_cut['genome position'][i]))[1])
df_cut['chr']=pd.Series(list_cut_chr)
df_cut['single position']=pd.Series(list_cut_pos)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [8]:
df_cut.head()

,ID_SAMPLE,ID_tumour,genome position,WT_SEQ,MUT_SEQ,chr,single position
0,2634366,2494762,3:191870081-191870081,A,G,3,191870081
1,2634366,2494762,4:175610288-175610288,G,T,4,175610288
2,2634602,2494998,10:113312456-113312456,G,T,10,113312456
3,2634732,2495128,7:49183066-49183066,A,T,7,49183066
4,2634732,2495128,20:13631885-13631885,G,A,20,13631885

In [9]:
#mutのdfからchr23、24、MUT_SEQのnanを除く

df_cut_chr=df_cut[(df_cut['chr'] != '23') & (df_cut['chr'] != '24') & (df_cut['chr'] != '25')]
df_cut_chr.dropna(subset=['MUT_SEQ'],inplace=True)
df_cut_chr.dropna(subset=['WT_SEQ'],inplace=True)

#indexを振り直す
df_cut_chr_i=df_cut_chr.reset_index()

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [10]:
df_cut_chr_i

,index,ID_SAMPLE,ID_tumour,genome position,WT_SEQ,MUT_SEQ,chr,single position
0,0,2634366,2494762,3:191870081-191870081,A,G,3,191870081
1,1,2634366,2494762,4:175610288-175610288,G,T,4,175610288
2,2,2634602,2494998,10:113312456-113312456,G,T,10,113312456
3,3,2634732,2495128,7:49183066-49183066,A,T,7,49183066
4,4,2634732,2495128,20:13631885-13631885,G,A,20,13631885
5,5,2633825,2494221,10:55869458-55869458,C,T,10,55869458
6,6,2634325,2494721,7:107774762-107774762,G,T,7,107774762
7,7,2340684,2205667,16:80055352-80055352,A,G,16,80055352
8,8,2688338,2547320,5:145211773-145211773,T,A,5,145211773
9,9,2340644,2205627,21:14009329-14009329,T,C,21,14009329
10,10,2744921,2603624,18:63139816-63139816,T,C,18,63139816
11,11,2744856,2603559,19:53674019-53674019,T,C,19,53674019
12,12,2744912,2603615,2:195988285-195988285,T,A,2,195988285
13,13,1918800,1806121,4:143175262-143175262,A,G,4,143175262
14,14,1918806,1806127,7:118086708-118086708,C,T,7,118086708
15,15,2120993,1995229,1:204671552-204671552,T,G,1,204671552
16,16,2121192,1995428,4:107225365-107225365,C,A,4,107225365
17,17,2197771,2066049,20:6602087-6602087,A,G,20,6602087
18,18,2263449,2130433,19:51359766-51359766,T,C,19,51359766
19,19,2262933,2129917,2:206257578-206257578,C,T,2,206257578
20,20,2340914,2205897,21:40170088-40170088,G,A,21,40170088
21,21,2340917,2205900,8:33650247-33650247,A,T,8,33650247
22,22,2385507,2248339,2:217284051-217284051,A,G,2,217284051
23,23,2385256,2248088,14:27038557-27038557,G,A,14,27038557
24,25,2340865,2205848,22:40847405-40847405,C,T,22,40847405
25,27,2197412,2065690,19:33294303-33294303,C,A,19,33294303
26,28,1585053,1506398,18:964146-964146,C,T,18,964146
27,29,1768221,1672479,7:52925956-52925956,T,G,7,52925956
28,30,2745888,2604591,14:83541584-83541584,C,T,14,83541584
29,31,2185827,2054124,1:145280799-145280799,G,C,1,145280799
...,...,...,...,...,...,...,...,...
18956289,21374361,2193470,2061748,14:26889379-26889379,A,G,14,26889379
18956290,21374362,2385491,2248323,10:31676789-31676789,A,C,10,31676789
18956291,21374363,1919257,1806578,17:73492251-73492251,T,G,17,73492251
18956292,21374364,2197817,2066095,5:127400972-127400972,A,T,5,127400972
18956293,21374365,2634550,2494946,14:94575010-94575010,C,T,14,94575010
18956294,21374366,2634619,2495015,3:22462202-22462202,G,A,3,22462202
18956295,21374369,2385475,2248307,20:21631900-21631900,T,G,20,21631900
18956296,21374370,2197384,2065662,12:46065197-46065197,C,T,12,46065197
18956297,21374373,1759878,1664495,15:69862086-69862086,T,C,15,69862086
18956298,21374374,2120976,1995212,5:84467705-84467705,T,C,5,84467705
18956299,21374375,2120814,1995050,12:54462745-54462745,G,T,12,54462745
18956300,21374376,2186514,2054811,11:57064232-57064232,G,C,11,57064232
18956301,21374377,2197812,2066090,12:30813032-30813032,A,C,12,30813032
18956302,21374378,1649390,1564213,15:70861657-70861657,A,C,15,70861657
18956303,21374379,2121237,1995473,9:78999621-78999621,A,T,9,78999621
18956304,21374380,2263173,2130157,13:82320907-82320907,A,G,13,82320907
18956305,21374381,2263173,2130157,2:41077495-41077495,T,G,2,41077495
18956306,21374382,1954063,1840835,5:51408389-51408389,G,T,5,51408389
18956307,21374383,1842448,1735713,14:97341746-97341746,C,T,14,97341746
18956308,21374384,2263169,2130153,7:42649816-42649816,A,T,7,42649816
18956309,21374385,2197800,2066078,1:96445060-96445060,T,A,1,96445060
18956310,21374386,2194724,2063002,4:94086322-94086322,A,G,4,94086322
18956311,21374387,2194724,2063002,8:129482954-129482954,C,A,8,129482954
18956312,21374388,2744896,2603599,20:45539215-45539215,G,A,20,45539215
18956313,21374390,2121224,1995460,10:116063551-116063551,A,C,10,116063551
18956314,21374391,1919258,1806579,1:89822123-89822123,T,C,1,89822123
18956315,21374392,1652970,1567757,22:46129477-46129477,T,C,22,46129477
18956316,21374393,2262739,2129723,7:93516905-93516905,A,G,7,93516905
18956317,21374394,2120916,1995152,8:50247693-50247693,A,T,8,50247693
18956318,21374395,2634673,2495069,3:94628345-94628345,C,T,3,94628345

In [11]:
#refから変異位置の前後の配列を抽出
seq_before=[]
seq_after=[]
for i in range(len(df_cut_chr_i)):
    seq_before.append(list_seq[list_id.index('chr'+df_cut_chr_i['chr'][i])][int(df_cut_chr_i['single position'][i])-2])
    seq_after.append(list_seq[list_id.index('chr'+df_cut_chr_i['chr'][i])][int(df_cut_chr_i['single position'][i])])

In [12]:
#df_cut_chr_iにつなげる
df_cut_chr_i['seq_before']=pd.Series(seq_before)
df_cut_chr_i['seq_after']=pd.Series(seq_after)

In [13]:
df_cut_chr_i.head()

,index,ID_SAMPLE,ID_tumour,genome position,WT_SEQ,MUT_SEQ,chr,single position,seq_before,seq_after
0,0,2634366,2494762,3:191870081-191870081,A,G,3,191870081,A,G
1,1,2634366,2494762,4:175610288-175610288,G,T,4,175610288,c,g
2,2,2634602,2494998,10:113312456-113312456,G,T,10,113312456,A,A
3,3,2634732,2495128,7:49183066-49183066,A,T,7,49183066,A,C
4,4,2634732,2495128,20:13631885-13631885,G,A,20,13631885,t,a

In [14]:
#大文字に変更
df_cut_chr_i['seq_before']=df_cut_chr_i['seq_before'].str.upper()
df_cut_chr_i['seq_after']=df_cut_chr_i['seq_after'].str.upper()

In [15]:
df_cut_chr_i.head()

,index,ID_SAMPLE,ID_tumour,genome position,WT_SEQ,MUT_SEQ,chr,single position,seq_before,seq_after
0,0,2634366,2494762,3:191870081-191870081,A,G,3,191870081,A,G
1,1,2634366,2494762,4:175610288-175610288,G,T,4,175610288,C,G
2,2,2634602,2494998,10:113312456-113312456,G,T,10,113312456,A,A
3,3,2634732,2495128,7:49183066-49183066,A,T,7,49183066,A,C
4,4,2634732,2495128,20:13631885-13631885,G,A,20,13631885,T,A

In [16]:
#3文字の配列にする（seq_forwardが鋳型）
df_cut_chr_i['seq_forward']=df_cut_chr_i['seq_before']+df_cut_chr_i['MUT_SEQ']+df_cut_chr_i['seq_after']
df_cut_chr_i['seq_forward_r']=df_cut_chr_i['seq_after']+df_cut_chr_i['MUT_SEQ']+df_cut_chr_i['seq_before']

In [17]:
df_cut_chr_i.head()

,index,ID_SAMPLE,ID_tumour,genome position,WT_SEQ,MUT_SEQ,chr,single position,seq_before,seq_after,seq_forward,seq_forward_r
0,0,2634366,2494762,3:191870081-191870081,A,G,3,191870081,A,G,AGG,GGA
1,1,2634366,2494762,4:175610288-175610288,G,T,4,175610288,C,G,CTG,GTC
2,2,2634602,2494998,10:113312456-113312456,G,T,10,113312456,A,A,ATA,ATA
3,3,2634732,2495128,7:49183066-49183066,A,T,7,49183066,A,C,ATC,CTA
4,4,2634732,2495128,20:13631885-13631885,G,A,20,13631885,T,A,TAA,AAT

In [18]:
#辞書型で相補鎖に変換
dict_base={"A":"T","G":"C","C":"G","T":"A"}

list_seq_reverse=[]
list_wt_seq_reverse=[]
for i in range(len(df_cut_chr_i)):
    list_seq_reverse.append((df_cut_chr_i['seq_forward_r'][i]).translate(str.maketrans(dict_base)))
    list_wt_seq_reverse.append((str(df_cut_chr_i['WT_SEQ'][i])).translate(str.maketrans(dict_base)))
df_cut_chr_i['seq_reverse']=pd.Series(list_seq_reverse)
df_cut_chr_i['WT_seq_reverse']=pd.Series(list_wt_seq_reverse)

In [19]:
df_cut_chr_i.head()

,index,ID_SAMPLE,ID_tumour,genome position,WT_SEQ,MUT_SEQ,chr,single position,seq_before,seq_after,seq_forward,seq_forward_r,seq_reverse,WT_seq_reverse
0,0,2634366,2494762,3:191870081-191870081,A,G,3,191870081,A,G,AGG,GGA,CCT,T
1,1,2634366,2494762,4:175610288-175610288,G,T,4,175610288,C,G,CTG,GTC,CAG,C
2,2,2634602,2494998,10:113312456-113312456,G,T,10,113312456,A,A,ATA,ATA,TAT,C
3,3,2634732,2495128,7:49183066-49183066,A,T,7,49183066,A,C,ATC,CTA,GAT,T
4,4,2634732,2495128,20:13631885-13631885,G,A,20,13631885,T,A,TAA,AAT,TTA,C

In [31]:
'AC'.translate(str.maketrans(dict_base))

'TG'

In [20]:
#ID_tumorのカウント
dict_tumor_id=df_cut_chr_i['ID_tumour'].value_counts().to_dict()
list_tumor_id = list(dict_tumor_id.keys())

In [26]:
#以下、ID_tumorごとに取り出し変異をテキストに書き込む
df_index_for_id=pd.DataFrame()
for i in list_tumor_id:
    df_index_for_id['index_{}'.format(i)]=pd.Series((df_cut_chr_i[df_cut_chr_i['ID_tumour']==i]).index)
    for j in df_index_for_id['index_{}'.format(i)]:
        if pd.isnull(j)==True:
            continue
        else:
            with open("text/{}.txt".format(i), "a") as f:
                if (df_cut_chr_i.iloc[int(j)])['WT_SEQ']=='C'or (df_cut_chr_i.iloc[int(j)])['WT_SEQ']=='G':
                    f.write((df_cut_chr_i.iloc[int(j)])['WT_SEQ']+'>'+(df_cut_chr_i.iloc[int(j)])['MUT_SEQ']+\
                    '_'+(df_cut_chr_i.iloc[int(j)])['seq_forward'][0:1]+\
                    (df_cut_chr_i.iloc[int(j)])['seq_forward'][2:3]+' ')
                else:
                    f.write((df_cut_chr_i.iloc[int(j)])['WT_seq_reverse']+'>'+(df_cut_chr_i.iloc[int(j)])['seq_reverse'][1:2]+\
                    '_'+(df_cut_chr_i.iloc[int(j)])['seq_reverse'][0:1]+\
                    (df_cut_chr_i.iloc[int(j)])['seq_reverse'][2:3]+' ')

KeyboardInterrupt:

if,elseの確認、テスト

In [27]:
if (df_cut_chr_i.iloc[int(0)])['WT_SEQ']=='C'or (df_cut_chr_i.iloc[int(0)])['WT_SEQ']=='G':
    print(1)
else:
    print(2)

2

In [28]:
if (df_cut_chr_i.iloc[int(1)])['WT_SEQ']=='C'or (df_cut_chr_i.iloc[int(1)])['WT_SEQ']=='G':
    print(1)
else:
    print(2)

1

In [29]:
(df_cut_chr_i.iloc[int(1)])['WT_SEQ']

'G'

In [21]:
(df_cut_chr_i.iloc[int(0)])['WT_SEQ']

'A'

In [22]:
(df_cut_chr_i.iloc[int(0)])['WT_SEQ']=='C'

False

In [23]:
(df_cut_chr_i.iloc[int(0)])['WT_SEQ']=='G'

False

In [25]:
(df_cut_chr_i.iloc[int(0)])['WT_SEQ']=='A'

True

In [30]:
(df_cut_chr_i.iloc[int(0)])['WT_SEQ']=='C'or (df_cut_chr_i.iloc[int(0)])['WT_SEQ']=='G'

False

In [ ]:
#以下、ID_tumorごとに取り出し変異をテキストに書き込む
df_index_for_id=pd.DataFrame()
for i in list_tumor_id:
    df_index_for_id['index_{}'.format(i)]=pd.Series((df_cut_chr_i[df_cut_chr_i['ID_tumour']==i]).index)
    for j in df_index_for_id['index_{}'.format(i)]:
        if pd.isnull(j)==True:
            continue
        else:
            with open("text/{}.txt".format(i), "a") as f:
                if (df_cut_chr_i.iloc[int(j)])['WT_SEQ']=='C'or (df_cut_chr_i.iloc[int(j)])['WT_SEQ']=='T':
                    f.write((df_cut_chr_i.iloc[int(j)])['WT_SEQ']+'>'+(df_cut_chr_i.iloc[int(j)])['MUT_SEQ']+\
                    '_'+(df_cut_chr_i.iloc[int(j)])['seq_forward'][0:1]+\
                    (df_cut_chr_i.iloc[int(j)])['seq_forward'][2:3]+' ')
                elif(df_cut_chr_i.iloc[int(j)])['WT_SEQ']=='A'or (df_cut_chr_i.iloc[int(j)])['WT_SEQ']=='G':
                    f.write((df_cut_chr_i.iloc[int(j)])['WT_seq_reverse']+'>'+(df_cut_chr_i.iloc[int(j)])['seq_reverse'][1:2]+\
                    '_'+(df_cut_chr_i.iloc[int(j)])['seq_reverse'][0:1]+\
                    (df_cut_chr_i.iloc[int(j)])['seq_reverse'][2:3]+' ')
                else:
                    continue

In [35]:
df_cut_chr_i.head()

,index,ID_SAMPLE,ID_tumour,genome position,WT_SEQ,MUT_SEQ,chr,single position,seq_before,seq_after,seq_forward,seq_forward_r,seq_reverse,WT_seq_reverse
0,0,2634366,2494762,3:191870081-191870081,A,G,3,191870081,A,G,AGG,GGA,CCT,T
1,1,2634366,2494762,4:175610288-175610288,G,T,4,175610288,C,G,CTG,GTC,CAG,C
2,2,2634602,2494998,10:113312456-113312456,G,T,10,113312456,A,A,ATA,ATA,TAT,C
3,3,2634732,2495128,7:49183066-49183066,A,T,7,49183066,A,C,ATC,CTA,GAT,T
4,4,2634732,2495128,20:13631885-13631885,G,A,20,13631885,T,A,TAA,AAT,TTA,C

In [37]:
df_cut_chr_i['ID_tumour'][0]

2494762

In [ ]:
2580164

In [40]:
df_cut_chr_i[df_cut_chr_i['ID_tumour']==2580164]

,index,ID_SAMPLE,ID_tumour,genome position,WT_SEQ,MUT_SEQ,chr,single position,seq_before,seq_after,seq_forward,seq_forward_r,seq_reverse,WT_seq_reverse
16305605,18386088,2721343,2580164,5:1295113-1295114,GG,AA,5,1295113,A,G,AAAG,GAAA,CTTT,CC

In [38]:
df_test_616173=df_cut_chr_i[df_cut_chr_i['ID_tumour']==616173]

In [39]:
df_test_616173

,index,ID_SAMPLE,ID_tumour,genome position,WT_SEQ,MUT_SEQ,chr,single position,seq_before,seq_after,seq_forward,seq_forward_r,seq_reverse,WT_seq_reverse
505,570,688013,616173,10:69993003-69993003,G,A,10,69993003,C,G,CAG,GAC,CTG,C
4485,5052,688013,616173,12:90491427-90491427,G,A,12,90491427,T,A,TAA,AAT,TTA,C
5061,5705,688013,616173,8:137337801-137337801,A,T,8,137337801,C,C,CTC,CTC,GAG,T
6771,7627,688013,616173,21:40995609-40995609,T,A,21,40995609,C,T,CAT,TAC,ATG,A
6772,7628,688013,616173,17:48012301-48012301,C,A,17,48012301,G,C,GAC,CAG,GTC,G
7346,8275,688013,616173,11:72177575-72177575,C,A,11,72177575,A,C,AAC,CAA,GTT,G
7897,8899,688013,616173,12:24694481-24694481,A,T,12,24694481,T,T,TTT,TTT,AAA,T
8506,9584,688013,616173,15:81646172-81646172,G,T,15,81646172,T,C,TTC,CTT,GAA,C
9102,10245,688013,616173,2:41137871-41137871,A,G,2,41137871,T,G,TGG,GGT,CCA,T
9722,10945,688013,616173,3:193093284-193093284,C,A,3,193093284,C,T,CAT,TAC,ATG,G
10852,12219,688013,616173,10:2821701-2821701,T,A,10,2821701,A,T,AAT,TAA,ATT,A
11950,13466,688013,616173,3:170740449-170740449,T,C,3,170740449,C,C,CCC,CCC,GGG,A
12524,14117,688013,616173,10:1278107-1278107,C,T,10,1278107,A,T,ATT,TTA,AAT,G
12525,14118,688013,616173,10:64994509-64994509,C,A,10,64994509,C,T,CAT,TAC,ATG,G
12527,14120,688013,616173,6:164488684-164488684,C,A,6,164488684,C,C,CAC,CAC,GTG,G
12530,14123,688013,616173,12:20885029-20885029,C,T,12,20885029,T,A,TTA,ATT,TAA,G
13121,14811,688013,616173,1:241231119-241231119,G,T,1,241231119,A,A,ATA,ATA,TAT,C
14254,16067,688013,616173,6:96063298-96063298,C,A,6,96063298,A,A,AAA,AAA,TTT,G
14255,16068,688013,616173,2:50640025-50640025,C,A,2,50640025,G,A,GAA,AAG,TTC,G
15412,17370,688013,616173,9:14663272-14663272,C,T,9,14663272,T,C,TTC,CTT,GAA,G
15971,18009,688013,616173,2:180646739-180646739,C,A,2,180646739,C,T,CAT,TAC,ATG,G
15972,18010,688013,616173,2:204263169-204263169,C,A,2,204263169,G,A,GAA,AAG,TTC,G
18783,21176,688013,616173,11:5194673-5194673,C,A,11,5194673,T,A,TAA,AAT,TTA,G
18784,21177,688013,616173,3:129146714-129146714,G,A,3,129146714,C,G,CAG,GAC,CTG,C
19329,21790,688013,616173,7:94151599-94151599,G,A,7,94151599,G,C,GAC,CAG,GTC,C
19914,22447,688013,616173,7:124167188-124167188,T,C,7,124167188,A,A,ACA,ACA,TGT,A
21075,23746,688013,616173,13:70639067-70639067,C,A,13,70639067,G,A,GAA,AAG,TTC,G
21638,24375,688013,616173,12:87301003-87301003,A,T,12,87301003,A,C,ATC,CTA,GAT,T
23402,26359,688013,616173,3:178758112-178758112,G,A,3,178758112,A,A,AAA,AAA,TTT,C
24573,27685,688013,616173,2:77566402-77566402,G,T,2,77566402,A,A,ATA,ATA,TAT,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18934128,21349423,688013,616173,4:168648709-168648709,G,T,4,168648709,T,C,TTC,CTT,GAA,C
18935849,21351353,688013,616173,1:114856812-114856812,G,T,1,114856812,T,G,TTG,GTT,CAA,C
18935850,21351354,688013,616173,7:15618913-15618913,T,C,7,15618913,A,A,ACA,ACA,TGT,A
18936454,21352027,688013,616173,5:88049405-88049405,C,T,5,88049405,T,C,TTC,CTT,GAA,G
18938746,21354627,688013,616173,5:170933089-170933089,A,G,5,170933089,A,C,AGC,CGA,GCT,T
18938747,21354628,688013,616173,7:121845260-121845260,G,T,7,121845260,T,A,TTA,ATT,TAA,C
18940535,21356645,688013,616173,3:171333412-171333412,C,A,3,171333412,G,C,GAC,CAG,GTC,G
18942918,21359322,688013,616173,3:155950984-155950984,G,C,3,155950984,C,C,CCC,CCC,GGG,C
18942919,21359323,688013,616173,4:89682983-89682983,C,A,4,89682983,A,C,AAC,CAA,GTT,G
18942920,21359324,688013,616173,6:74973420-74973420,C,T,6,74973420,C,A,CTA,ATC,TAG,G
18944064,21360616,688013,616173,16:61824089-61824089,T,A,16,61824089,T,C,TAC,CAT,GTA,A
18944065,21360617,688013,616173,13:109445877-109445877,G,C,13,109445877,T,T,TCT,TCT,AGA,C
18944633,21361263,688013,616173,10:106280210-106280210,T,C,10,106280210,A,T,ACT,TCA,AGT,A
18944634,21361264,688013,616173,11:7536213-7536213,C,T,11,7536213,G,T,GTT,TTG,AAC,G
18946357,21363212,688013,616173,3:107369298-107369298,C,A,3,107369298,C,A,CAA,AAC,TTG,G
18948140,21365196,688013,616173,4:60753738-60753738,C,A,4,60753738,A,A,AAA,AAA,TTT,G
18948691,21365815,688013,616173,1:22154950-22154950,G,A,1,22154950,A,C,AAC,CAA,GTT,C
18948692,21365816,688013,616173,4:182124237-182124237,A,G,4,182124237,G,G,GGG,GGG,CCC,T
18949279,21366472,688013,616173,7:113337853-113337853,G,T,7,113337853,G,A,GTA,ATG,TAC,C
18949865,21367123,688013,616173,10:52486214-52486214,T,A,10,52486214,C,T,CAT,TAC,ATG,A
18949866,21367124,688013,616173,13:78305193-78305193,A,G,13,78305193,C,C,CGC,CGC,GCG,T
18951032,21368431,688013,616173,1:80100683-80100683,C,A,1,80100683,T,T,TAT,TAT,ATA,G
18952189,21369714,688013,616173,11:116551042-116551042,C,T,11,116551042,G,A,GTA,ATG,TAC,G
18952777,21370394,688013,616173,11:98514359-98514359,A,C,11,98514359,T,C,TCC,CCT,GGA,T
18953910,21371676,688013,616173,10:56321414-56321414,G,A,10,56321414,T,G,TAG,GAT,CTA,C
18954480,21372319,688013,616173,3:83355596-83355596,G,A,3,83355596,G,A,GAA,AAG,TTC,C
18955068,21372991,688013,616173,18:59465552-59465552,G,T,18,59465552,T,T,TTT,TTT,AAA,C
18955069,21372992,688013,616173,18:72842397-72842397,T,G,18,72842397,A,T,AGT,TGA,ACT,A
18955070,21372993,688013,616173,16:65258001-65258001,C,A,16,65258001,A,G,AAG,GAA,CTT,G
18955071,21372994,688013,616173,8:27114687-27114687,G,A,8,27114687,C,G,CAG,GAC,CTG,C